<!DOCTYPE html>
<html>
<head>
    <title>首页啊 酷开网络</title>
</head>

<body>
    <div id="header_script">
    </div>
    <div id='content'>
        <div class="card">
            <!--row 1-->
            <div class="tile w-6 h-6 t-0 l-0">
                <img src="http://www.sj63.com/sj63_uploadfile/200903/20090314012434921.jpg" class="full_img" />
            </div>

            <div class="tile w-6 h-3 t-0 l-6">

                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-3 l-6">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-3 l-9">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>

            <div class="tile w-6 h-3 t-0 l-12">
                <img src="http://cyj.qiniudn.com/43126/1370014402446p17rtj6pls1saa9vh1frb1u501frn2q.jpg-home_1" class="full_img" />
            </div>
            <div class="tile w-6 h-3 t-3 l-12">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>

            <div class="tile w-3 h-3 t-0 l-18">
                <img src="http://www.sj63.com/sj63_uploadfile/200903/20090314012434921.jpg" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-3 l-18">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-0 l-21">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-3 l-21">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>

            <!--row 2-->

            <div class="tile w-6 h-6 t-6 l-0">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>

            <div class="tile w-6 h-3 t-6 l-6">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-9 l-6">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-9 l-9">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>

            <div class="tile w-6 h-3 t-6 l-12">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-6 h-3 t-9 l-12">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>

            <div class="tile w-3 h-3 t-6 l-18">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-9 l-18">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-6 l-21">
                <img src="http://cyj.qiniudn.com/95840/1389797580800p18eb62h0q13ad4sq7ce16p6gcsa.jpg-home_3" class="full_img" />
            </div>
            <div class="tile w-3 h-3 t-9 l-21">
                @{
                var xxx = Date();
                }
                @xxx
                @model.list

            </div>

        </div>
    </div>



</body>
</html>