<!DOCTYPE html>
<html>
<head>
    <title>最新活动</title>
</head>

<body>
    <div id='content'>
        <div class="card">
            <div class="tile w-6 h-6 t-0 l-0">
                <a href="/issue/publish"><img src="/res/img/publish_activty.png" class="full_img" alt="发起活动" /></a>
            </div>
            <div class="tile2 w-3 h-3 t-9 l-21">
                <a href="/issues/more"><img src="/res/img/more.png" class="full_img" alt="更多..." /></a>
            </div>
        </div>
    </div>
</body>
</html>
